<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Sun Travels Software</title>
</head>
<body>

<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Welcome to Sun Travels!</h1>
    <p class="lead text-center">An accommodation booking system which can be used to check prices of hotels
      based on your requirements.</p>
    <hr class="my-4">

    <form #contractForm="ngForm">
      <div class="form-group">
        <label>Hotel Id</label><br/>
        <input type="text" class="form-control col-md-4" name="hotelId" ngModel>
      </div>
      <div class="form-group">
        <label>Hotel Name</label><br/>
        <input type="text" class="form-control col-md-4" name="hotelName" ngModel>
      </div>
      <div class="form-group">
        <label>Room Type</label><br/>
        <input type="text" class="form-control col-md-4" name="roomType" ngModel>
      </div>
      <div class="form-group">
        <label>Rate</label><br/>
        <input type="number" class="form-control col-md-4" name="rate" ngModel>
      </div>
      <div class="form-group">
        <label>Markup</label><br/>
        <input type="number" class="form-control col-md-4" name="markup" ngModel>
      </div>
      <button type="button" (click)="addContract(contractForm.value)" class="btn btn-success">Add Contract</button>
    </form>

  </div>

  <div class="form-inline">
    <div class="form-group mb-2">
      <button routerLink="/search_contract" type="button" class="btn btn-dark">Search Contracts</button>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <button routerLink="/view_contract" type="button" class="btn btn-dark">View Contracts</button>
    </div>
    <div class="form-group mb-2">
      <button routerLink="/add_contract" type="button" class="btn btn-dark">Add Contracts</button>
    </div>
  </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
